.contain{
    background-color: #F3EAE3;
    height: 97vh;
    width: fit-content;
}
.flex{
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}
.flex img{
    border-radius: 10px 10px 0px 0px;
    width: 94%;
}
.desktop{
    display: none;
}
.text{
    background-color: #fff;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 0px 10px 10px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 30px;
}
.text p:first-child{
    color: rgb(168, 168, 168);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.text h2{
    width: 90%;
    font-size: 25px;
    font-weight:900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text span{
    color: rgb(147, 147, 147);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.price{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price h3{
    color: #3D8168;
    font-size: 28px;
}
.price span{
    text-decoration: line-through;
    font-size: 15px;
}
button{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    background-color: #3D8168;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
button img{
    width: 20px !important;
    margin-right: 5px;
}
button:hover{
    background-color: #184131;
}
@media (min-width: 992px) {
    .contain{
        height:97vh;
    }
.flex {
        display: flex;
        width: 50%;
        padding-top: 200px;
    }
.flex img {
    border-radius: 10px 0px 0px 10px;
    width: 50%;
}
.text {
    width: 50%;
    border-radius: 0px 10px 10px 0px;
    margin-top: 0;
}
button{
    margin: 0;
}
}